@tailwind base;
@tailwind components;
@tailwind utilities;

/*-- tailwindcss custom styles -- START -------------------------------------------*/
@layer components {
  .container {
    @apply max-w-5xl p-4;
  }

  .text-primary-color {
    @apply text-indigo-400;
  }
  .bg-primary-color {
    @apply bg-indigo-400;
  }
  .bg-primary-color-hover {
    @apply bg-indigo-600;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-indigo-400 to-orange-400 bg-clip-text text-transparent;
  }
  .gradient-bg {
    @apply bg-gradient-to-r from-indigo-400 to-orange-400;
  }
  .btn-primary {
    @apply bg-primary-color px-4 py-1 rounded-2xl hover:bg-primary-color-hover transition duration-200 focus:outline-none focus:ring-2 focus:bg-purple-400 focus:ring-opacity-75;
  }
  /* .card {
    @apply backdrop-filter backdrop-blur-xl bg-opacity-10 dark:bg-opacity-25 bg-white dark:bg-neutral-500 rounded-md border-[1px] border-neutral-400 border-opacity-20  transition duration-300;
  } */
  .card {
    @apply backdrop-filter backdrop-blur-xl bg-opacity-10 dark:bg-opacity-25 bg-white dark:bg-neutral-500 shadow-xl shadow-neutral-200 dark:shadow-neutral-900 rounded-xl transition duration-300;
  }
  .card-hover {
    @apply hover:shadow-neutral-300 dark:hover:shadow-neutral-950 hover:-translate-y-2 transition;
  }
  .link-hover {
    @apply hover:gradient-text group-hover:gradient-text transition duration-200;
  }
}

/*-- tailwindcss custom styles -- END -----------------------------------------------*/

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
}

h5,
h6,
p {
  font-family: var(--font-primary);
}

/* .bg-header-gradient {
  background-image: url("../../public/images/header-gradient.svg"),
    url("../../public/images/footer-gradient.svg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: cover;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: scaleAnimation 5s infinite alternate;
} */
.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff !important;
  font-size: 1.5rem !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

/*-- keyframes for the animation --------------------------------------------*/
@keyframes scaleAnimation {
  0% {
    transform: scale(1); /* Initial scale, no change */
  }
  100% {
    transform: scale(1.5); /* Final scale, 20% larger than the original size */
  }
}
